POSTGRES_DB=securitydb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/securitydb
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=root

JWT_SECRET=""

REDIS_HOST=redis
REDIS_PORT=6379